.App{
  background-color: rgb(44, 37, 37);
}
.player{
  position: absolute;
  right: 150px;
}
.visualizer{
  position: absolute;
  bottom: 150px;
}
.caption{
  position:absolute;
  left: 150px;
  width: 100px;
}
/*.Wave{
  position: absolute;
  bottom: 500px;
}*/
